body {
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(0, 75, 75);
    font-family: "Urbanist", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 75, 75);
}

a:hover {
    color: cyan;
}

a::after {
    content: ' >>';
}

/* is there a way to create pseudo elements like below in a list, rather than individual declarations? */

h1::after {
    content: ' //';
}

h2::after {
    content: ' //';
}

h3::after {
    content: ' //';
}

.no-after::after {
    content: '';
}

p {
    font-size:larger;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-right: 8px;
    margin-left: 8px;
}

#nav-menu {
    display: none;
    height: 70px;
    margin: 13px 16px 5px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 177, 177);
}

.nav-item{
    color: rgb(0, 75, 75);
    font-size: 1.8em;
    font-weight: bold;
    padding: 8px;
    margin: 18px;
}

.nav-item:hover{
    color: cyan;
}

.banner {
    background-color: darkcyan;
    color: rgb(0, 75, 75);
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.5) 1px;
}

.banner50 {
    width: 50%;
    margin: 13px 0px 3px 16px;
}

.banner50 h3 {
    font-size: 2rem;
    margin: 2px 0px 2px 16px;
}

#center-container {
    max-width: 900px;
    margin:auto;
    display: block;
}

.top-banner-container {
    display: flex;
}

.name-banner {
    margin: 8px 5px 5px 16px;
    width: 100%;
}

.name-banner h1 {
    font-size: 3em;
    margin: 2px 0px 2px 16px;
}

.rt-menu {
    width: 90px;
    text-align: center;
    margin: 8px 16px 5px 5px;
}

.menu-button {
    font-size: 2.7em;
    padding: 0px;
}

.roles-banner {
    font-size: large;
    margin: 13px 16px 5px 16px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.banner-item {
    margin: auto 16px auto 16px;    
}

.banner-slash {
    margin: auto 0px auto 0px;    
}

.contact-info {
    font-size: large;
    margin: 5px 16px 8px 16px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.contact-link {
    margin: auto 0px auto 0px;
}

.section {
    margin: 18px 16px 2px 16px;
}

.section h2 {
    margin: 0px 0px 0px 16px;
    font-size: 2.5em;
}

.subsection {
    margin: 12px 16px 2px 16px;
}

.subsection h3 {
    font-size: 2rem;
    margin: 0px 0px 2px 16px;
}

.content {
    margin: 5px 16px 5px 16px;
    padding: 8px;
}

.content50 {
    margin: 2px 0px 0px 16px;
    padding: 8px;
}

.content50 h4 {
    margin: 2px 0px 2px 8px;
    font-size: 1.5em;
}

.profile-pic{
    width:150px;
    height: 150px;
    border-radius: 10px;
    border: solid rgba(255, 255, 255, 0.5) 1px;
    margin: 16px 8px 12px 12px;
    float: right;
    background-image: url("/images/bj.jpg");
    background-size:contain
}

.profile-pic:hover{
    background-image: url("/images/bj-hover.jpg");
    background-size:contain
}

.page-pic {
    display: none;
    border: solid rgba(255, 255, 255, 0.5) 1px;
    border-radius: 10px;
}

.portfolio-pic {
    margin: 10px 16px 0px 8px;
    border: solid rgba(255, 255, 255, 0.5) 1px;
    opacity: 75%;
}

.portfolio-link-container{
    width: 100%;
    text-align: end;
}

.portfolio-link {
    font-size: 2em;
    font-weight: bold;
    margin-right: 16px;
}

@media screen and (min-width: 700px) {
    .page-pic {
        display: block;
    }    
}

.split-banner{
    display: flex;
    margin-right: 16px;
}

.split-container {
    display:flex; 
}

.split-text {
    font-size:larger;
    margin-right: 8px;
    margin-left: 8px;
}

.split-text a {
    font-size: 1.5em;
    font-weight: bold;
}

.footer {
    color: darkcyan;
    text-align: center;
    height: 60px;
    font-size: larger;
}

/* google icons */

.material-symbols-outlined {
    font-size: 1em;
    margin-bottom: -10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  }

.material-symbols-outlined:hover {
    color:cyan;
    cursor: pointer;
    font-size: 1em;
}